<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>Archetype Created Web Application</display-name>
    <filter>
        <filter-name>loggingFilter</filter-name>
        <filter-class>osama.learning.filters.LoggingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>authenFilter</filter-name>
        <filter-class>osama.learning.filters.AuthenticationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>entryCrudValidationFilter</filter-name>
        <filter-class>osama.learning.filters.EntryCRUDValidationFilter</filter-class>
    </filter>
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>osama.learning.filters.LoginFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>loggingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD,INCLUDE,REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>authenFilter</filter-name>
        <url-pattern>/entry/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>entryCrudValidationFilter</filter-name>
        <url-pattern>/entry/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>freemarker-servlet</servlet-name>
        <servlet-class>freemarker.ext.servlet.FreemarkerServlet</servlet-class>

        <!--
          Init-param documentation:
          https://freemarker.apache.org/docs/api/freemarker/ext/servlet/FreemarkerServlet.html
        -->

        <!-- FreemarkerServlet settings: -->
        <init-param>
            <param-name>TemplatePath</param-name>
            <param-value>/templates</param-value>
        </init-param>
        <init-param>
            <param-name>NoCache</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>ResponseCharacterEncoding</param-name>
            <!-- Use the output_encoding setting of FreeMarker: -->
            <param-value>fromTemplate</param-value>
        </init-param>
        <init-param>
            <param-name>ExceptionOnMissingTemplate</param-name>
            <!-- true => HTTP 500 on missing template, instead of HTTP 404. -->
            <param-value>true</param-value>
        </init-param>

        <!-- FreeMarker engine settings: -->
        <init-param>
            <param-name>incompatible_improvements</param-name>
            <param-value>2.3.28</param-value>
            <!--
              Recommended to set to a high value.
              See: https://freemarker.apache.org/docs/pgui_config_incompatible_improvements.html
            -->
        </init-param>
        <init-param>
            <param-name>template_exception_handler</param-name>
            <!-- Use "html_debug" during development! -->
            <param-value>rethrow</param-value>
        </init-param>
        <init-param>
            <param-name>template_update_delay</param-name>
            <!-- Use 0 during development! Consider what value you need otherwise. -->
            <param-value>30 s</param-value>
        </init-param>
        <init-param>
            <param-name>default_encoding</param-name>
            <!-- The encoding of the template files: -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>output_encoding</param-name>
            <!-- The encoding of the template output; Note that you must set
                 "ResponseCharacterEncodring" to "fromTemplate" for this to work! -->
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>locale</param-name>
            <!-- Influences number and date/time formatting, etc. -->
            <param-value>en_US</param-value>
        </init-param>
        <init-param>
            <param-name>number_format</param-name>
            <param-value>0.##########</param-value>
        </init-param>

        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>createEntryServlet</servlet-name>
        <servlet-class>osama.learning.servlets.CreateEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readEntryServlet</servlet-name>
        <servlet-class>osama.learning.servlets.ReadEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readAllEntriesServlet</servlet-name>
        <servlet-class>osama.learning.servlets.ReadAllEntriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateEntryServlet</servlet-name>
        <servlet-class>osama.learning.servlets.UpdateEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteEntryServlet</servlet-name>
        <servlet-class>osama.learning.servlets.DeleteEntryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>osama.learning.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>errorsHandlerServlet</servlet-name>
        <servlet-class>osama.learning.servlets.errorhandling.ErrorsHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>freemarker-servlet</servlet-name>
        <url-pattern>*.ftl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createEntryServlet</servlet-name>
        <url-pattern>/entry/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readEntryServlet</servlet-name>
        <url-pattern>/entry/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readAllEntriesServlet</servlet-name>
        <url-pattern>/entry/readAll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateEntryServlet</servlet-name>
        <url-pattern>/entry/update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteEntryServlet</servlet-name>
        <url-pattern>/entry/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>errorsHandlerServlet</servlet-name>
        <url-pattern>/errorHandler</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>400</error-code>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <exception-type>osama.learning.exceptions.EntryIsNotExistedException</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <exception-type>osama.learning.exceptions.EntryAlreadyExistedException</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <exception-type>osama.learning.exceptions.UserIsNotExistedException</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <error-page>
        <exception-type>osama.learning.exceptions.NotEnoughParametersException</exception-type>
        <location>/errorHandler</location>
    </error-page>
    <!--
      Prevent the visiting of MVC Views from outside the servlet container.
      RequestDispatcher.forward/include should, and will still work.
      Removing this may open security holes!
    -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>FreeMarker MVC Views</web-resource-name>
            <url-pattern>*.ftl</url-pattern>
            <url-pattern>*.ftlh</url-pattern>
            <url-pattern>*.ftlx</url-pattern>
            <url-pattern>/errorHandler</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <!-- Nobody is allowed to visit these directly. -->
        </auth-constraint>
    </security-constraint>
</web-app>
